<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Retrieving _Accessrecords</h1>
        <form action="" method="POST">
        {% csrf_token %}
       
            <label for="access">Select Name</label>
    
            <select name="access" id="access" multiple>
            {% for wo in LWO %}
                <option value="{{wo.id}}">{{wo.name}}</option><--sending the primary key column of the object -->
            {% endfor %}
            </select>
        <br><br>
        <input type="submit" value="Retrieving_Accessrecords">
        </form>
</center>
</body>
</html>